@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); //! esto no es necesario cuando lo vayas a colocar en tu codigo

.btn-block {
  display       : flex;
  flex-direction: column;
  height        : 100%;

  a.custom-btn {
    display                       : inline-block;
    text-align                    : center;
    // box-sizing                 : border-box;
    font-size                     : 0.75rem;
    height                        : 100px;
    width                         : 100px;
    // display                 : inline-block;
    padding                       : 0.35rem 1.2rem;
    // border         : 0.1em solid #FFFFFF;
    margin                        : 0 0.3rem 0.3rem 0;
    border-radius                 : 0.12rem;
    box-sizing                    : border-box;
    text-decoration               : none;
    font-family                   : 'Open Sans', sans-serif;
    font-weight                   : 600;
    color                         : #706f6f;
    text-align                    : center;
    transition                    : all 0.3s;
    background-color              : #eaecea;

    &:hover {
      color           : #706f6f;
      background-color: #babcc0;
    }
  }
}



@media all and (max-width:30em) {
  a.button1 {
    display: block;
    margin : 0.4em auto;
  }
}