<owl-carousel-o class="principal" [options]="customOptions">

  <ng-template carouselSlide>
    <div class="img-container">
      <img src="http://placehold.it/660x380" alt="img1">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="img-container">
      <img src="http://placehold.it/660x380" alt="img2">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="img-container">
      <img src="http://placehold.it/660x380" alt="img3">
    </div>
  </ng-template>


</owl-carousel-o>